$light: #fff;
$background-color: #f4f6f9;
$text-color: #8e8e90;
$table-primary-color: #f9fafc;

$primary-color: #fcec7f;
$secondary-color: #eaecf2;
$danger-color: #dc8380;

$dark-blue: #2c3a6b;
$border-color: #e1e2e3;
