@import "../helpers/variables";

.input {
  box-sizing: border-box;
  padding: 12px;
  border-radius: 6px;
  border: 2px solid $border-color;
  outline: none;

  &.ng-invalid.ng-touched {
    border-color: $danger-color;
  }
}
