<div class="content">
  <div class="form-container">
    <form [formGroup]="productForm" (ngSubmit)="process()" class="form">
      <h1 class="form__title">{{ title }}</h1>
      <section class="form__control">
        <label for="id">ID</label>
        <input
          type="text"
          class="input"
          formControlName="id"
          id="id"
          autocomplete="off"
        />
        <div *ngIf="idAlreadyExists">ID no valido!</div>
        <div *ngIf="hasErrors('id')" class="error">
          <div *ngIf="productForm.get('id')?.hasError('required')">
            Este campo es requerido!
          </div>
          <div *ngIf="productForm.get('id')?.hasError('minlength')">
            Minimo {{ getMinLength("id") }} caracteres
          </div>
          <div *ngIf="productForm.get('id')?.hasError('maxlength')">
            Maximo {{ getMaxLength("id") }} caracteres
          </div>
        </div>
      </section>
      <section class="form__control">
        <label for="name">Nombre</label>
        <input
          type="text"
          class="input"
          formControlName="name"
          id="name"
          autocomplete="off"
        />
        <div *ngIf="hasErrors('name')" class="error">
          <div *ngIf="productForm.get('name')?.hasError('required')">
            Este campo es requerido!
          </div>
          <div *ngIf="productForm.get('name')?.hasError('minlength')">
            Minimo {{ getMinLength("name") }} caracteres
          </div>
          <div *ngIf="productForm.get('name')?.hasError('maxlength')">
            Maximo {{ getMaxLength("name") }} caracteres
          </div>
        </div>
      </section>
      <section class="form__control">
        <label for="description">Descripcion</label>
        <input
          type="text"
          class="input"
          formControlName="description"
          id="description"
          autocomplete="off"
        />
        <div *ngIf="hasErrors('description')" class="error">
          <div *ngIf="productForm.get('description')?.hasError('required')">
            Este campo es requerido!
          </div>
          <div *ngIf="productForm.get('description')?.hasError('minlength')">
            Minimo {{ getMinLength("description") }} caracteres
          </div>
          <div *ngIf="productForm.get('description')?.hasError('maxlength')">
            Maximo {{ getMaxLength("description") }} caracteres
          </div>
        </div>
      </section>
      <section class="form__control">
        <label for="logo">Logo</label>
        <input
          type="text"
          class="input"
          formControlName="logo"
          id="logo"
          autocomplete="off"
        />
        <div *ngIf="hasErrors('logo')" class="error">
          <div *ngIf="productForm.get('logo')?.hasError('required')">
            Este campo es requerido!
          </div>
        </div>
      </section>
      <section class="form__control">
        <label for="dateRelease">Fecha Liberacion</label>
        <input
          type="date"
          class="input"
          formControlName="dateRelease"
          id="dateRelease"
          autocomplete="off"
        />
        <div *ngIf="hasErrors('dateRelease')" class="error">
          <div *ngIf="productForm.get('dateRelease')?.hasError('required')">
            Este campo es requerido!
          </div>
          <div *ngIf="productForm.get('dateRelease')?.hasError('invalidDate')">
            Fecha no valida!
          </div>
        </div>
      </section>
      <section class="form__control">
        <label for="dateRevision">Fecha Revision</label>
        <input
          type="date"
          class="input"
          formControlName="dateRevision"
          id="dateRevision"
          autocomplete="off"
        />
      </section>
      <div class="form__button-container">
        <button class="button button--secondary" (click)="reset()">
          Reiniciar
        </button>
        <button
          type="submit"
          class="button button--primary"
          [disabled]="productForm.invalid"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
