<div class="content">
  <div class="search-container">
    <input
      type="search"
      class="input"
      [formControl]="searchControl"
      placeholder="Search"
    />
    <button class="button button--primary" (click)="openCreateProduct()">
      Agregar
    </button>
  </div>

  <div class="card">
    <table class="table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripcion</th>
          <th>Fecha de liberacion</th>
          <th>Fecha de reestructuracion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track $index) {
        <tr>
          <td>
            <img [src]="product.logo" [alt]="product.name" class="logo" />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.dateRelease | date : "dd/MM/yyyy" }}</td>
          <td>{{ product.dateRevision | date : "dd/MM/yyyy" }}</td>
          <td>
            <button (click)="openEditProduct(product)">Editar</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
